body {
    background-color: #eee;
}

footer {
    text-align: center;
}

form {
    font-weight: normal;
}

#itemName {
    width: 300px;
}

div#quests ul {
    margin: 10px;
}

#listItem .badge {
    margin-right: 5px;
}

#details label {
    margin-bottom: 5px;
    margin-top: 5px;
}

#description {
    max-width: 280px;;
}

.page-header {
    margin-top: 20px;
}

blockquote {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    border-left: 5px solid #eee;
}

#commentForm {
    position: fixed;
    bottom: 10px;
    max-width: 280px;
}
