<nav class="navbar navbar-static-top navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a ng-href="/" class="navbar-brand">
				<span class="glyphicon glyphicon-th-list"></span> Quests-Rewards
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" id="searchTask" class="form-control" placeholder="Search" ng-model="search">
				</div>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
			</ul>
		</div>
	</div>
</nav>
